@using (Html.BeginForm("VerifyCode", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    <h3>Enter the PIN sent to the email</h3>


    <div class="form-group">


        @Html.Label("pinLabel", new { @class = "col-md-2 control-label" })


        <div class="col-md-10">


            @Html.TextBox("pin", "", new { @class = "form-control" })


        </div>


    </div>


    <div class="form-group">


        <div class="col-md-offset-2 col-md-10">


            <input type="submit" class="btn btn-default" value="Submit" />


        </div>


    </div>


}
